<div class="edubody">
    <h1 id="title_left"><span style="color:rgb(233, 48, 73);font-family: 'Lucida Sans'">Education</span><span
            style="color:white">-</span><span style="color: rgb(48, 211, 102);font-family: 'Lucida Sans'">Based</span>
    </h1>
    <h3 id="title_right">Educate yourself Digitally!<i class="fa fa-smile-o"></i></h3>

    <div class="container">
        <h2 id="id1" class="text-center"
            style="margin-top:10%;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background: azure">
            How you will learn!</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/unacademy.jpg" alt="Unacademy"
                        style="width:100%">
                    <div class="caption">
                        <p>Unacademy is biggest free indian platform of online study program it prepares for all type of
                            learing.
                            <br>
                            <I>Here Educators are qualified and resulted so user can get total satisfaction.</I>
                        </p>
                    </div>
                    <div class="syl"><a href="https://blog.paytm.com/how-to-use-paytm-5613fda6956b"
                            style="color: green">Take a look on unacademy</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/khan.jpg" alt="Student"
                        style="width:100%">
                    <div class="caption">
                        <p>Khan academy is also indian platform of learing here you can also get the all information but
                            only for professional..
                            <br>
                            <I>Begin an exciting new journey right here with Khan academy</I>
                        </p>
                        <br>
                        <div class="syl"><a href="https://blog.paytm.com/how-to-use-paytm-5613fda6956b"
                                style="color: green">Take a look on khan academy</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/nptel.jpg" alt="EVS"
                        style="width:74%;margin-right: 13%;margin-left: 13%;">
                    <div class="caption">
                        <p>You will observe various social phenomena in biology, physics and our environment through
                            discussions on everyday events.
                        </p>
                        <hr>
                        <div class="syl"><a href="www.nptel.com" style="color: green">take a look on nptel</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/byjus.jpg" alt="English"
                        style="width:100%">
                    <div class="caption">
                        <p>You will build language skills and learn to express your feelings, ideas and experiences. You
                            will also learn to hold conversations.
                        </p>
                        <hr>
                        <div class="syl"><a href="www.Byju's.com" style="color: green">Take a look on Byju's</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/Google_Translate.png" alt="Math"
                        style="width:70%;margin-left: 15%;margin-right: 15%;">
                    <div class="caption">
                        <p>You will learn to recognize patterns in shapes and numbers. You will also learn to apply
                            properties of shapes and numbers to daily life.
                        </p>
                        <hr>
                        <div class="syl"><a href="#math5" style="color: green">take a look on Translate</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>