<div class="moneybody">
        
    <h1 id="title_left"><span style="color:rgb(233, 48, 73);font-family: 'Lucida Sans'">Money</span><span style="color:white">-</span><span style="color: rgb(48, 211, 102);font-family: 'Lucida Sans'">Mind</span></h1>
    <h3 id="title_right">Earn By yourself Digitally!<i class="fa fa-smile-o"></i></h3>
    <div class="container">
        <h2 id="id1" class="text-center" style="margin-top:10%;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background: azure">How you will learn</h2>
            <div class="row" style="margin-top:10%">
              <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="../../assets/img/paytm.png" alt="Paytm logo" style="width:100%">
                        <div class="caption">
                          <p>Paytm is an ecommercial app/website which is proving you all commercial stuff everwhere in india.
                              <br>
                              <I>Here user can use it to grow up their bussiness.</I>
                          </p>
                          <div class="syl"><a href="https://blog.paytm.com/how-to-use-paytm-5613fda6956b" style="color: green">Take a look on paytm</a></div>
                        </div>
                        </div>
                    </div>
                 <div class="col-sm-4">
                  <div class="thumbnail">
                        <img src="../../assets/img/google pay.jpg" alt="Student" style="width:100%">
                        <div class="caption">
                      <p>GOogle pay is an app which provides you all online transaction facilities to do more..
                          <br>
                          <I>And in easy steps you can do all trasactional activity by your own hand</I>
                          <br>
                      </p>
                      <div class="syl"><a href="https://www.youtube.com/watch?v=i8OARTWJK_w" style="color: green">Take a look on googlepay</a></div>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                              <img src="../../assets/img/olx.jpg" alt="Math" style="width:70%;margin-left: 15%;margin-right: 15%;">
                              <div class="caption">
                            <p>You will learn how to sell the things which is not useful for you so this app will provide you customers.
                            </p>
                            <hr>
                            <div class="syl"><a href="http://blog.olx.com.pk/olx-how-to-sell/" style="color: green">take a look on olx</a></div>
                              </div>
                          </div>
                    </div>
              </div>
            
      </div>  
      <div class="container">
            <div class="row">
              <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="../../assets/img/phonepe.jpg" alt="English" style="width:100%">
                        <div class="caption">
                          <p>You will also use this app like Paytm it provide provide all the facilities like paytm except shopping.
                          </p>
                          <hr>
                          <div class="syl"><a href="www.Byju's.com" style="color: green">Take a look on phonepe</a></div>
                        </div>
                    </div>
              </div>
                 
                <div class="col-sm-4">
                  <div class="thumbnail">
                        <img src="../../assets/img/amazon.jpg" alt="EVS" style="width:74%;margin-right: 13%;margin-left: 13%;">
                        <div class="caption">
                      <p>this is app is helpful for purchasing any item which is not found in market easily.
                      </p>
                      <hr>
                      <div class="syl"><a href="https://www.youtube.com/watch?v=wMcQRoPJ6lg" style="color: green">take a look on Amazon</a></div>
                        </div>
                    </div>
              </div>
            </div>
        

    </div>