<div class="guidingbody">
    <h1 id="title_left"><span style="color:rgb(233, 48, 73);font-family: 'Lucida Sans'">Digital</span><span
            style="color:white">-</span><span style="color: rgb(48, 211, 102);font-family: 'Lucida Sans'">Guider!</span>
    </h1>
    <h3 id="title_right">Get the right path Digitally!<i class="fa fa-smile-o"></i></h3>
    <div class="container">
        <h2 id="id1" class="text-center"
            style="margin-top:10%;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background: azure">
            How you will learn!</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/google map.jpg" alt="Unacademy" style="width:100%">
                    <div class="caption">
                        <p>Google Maps' satellite view is a "top-down" or "birds eye" view; most of the high-resolution
                            imagery of cities is aerial photography taken from aircraft.which will guide to take right
                            moving path.
                            <br>
                            <I>Here Path Direction and resulted path is absolute so user can get total satisfaction.</I>
                        </p>
                    </div>
                    <hr>
                    <div class="syl"><a href="www.Byju's.com" style="color: green">Take a look on googlemap</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/datagov.in.jpg" alt="Math"
                        style="width:70%;margin-left: 15%;margin-right: 15%;">
                    <div class="caption">
                        <p>You will get the all happend works under government of india on daily basis.this website is
                            used to notify all the people about whatever government is doing or what are not doing.
                        </p>
                        <hr>
                        <div class="syl"><a href="#math5" style="color: green">take a look on datagov</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/smart.png" alt="EVS"
                        style="width:74%;margin-right: 13%;margin-left: 13%;">
                    <div class="caption">
                        <p>You will get the smart price of all accessories or barnded things then you take right
                            decision
                            for marketing concept that what is right to but for you and what is not.
                            <hr>
                        <div class="syl"><a href="www.nptel.com" style="color: green">take a look on smartprice</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/quora.jpg" alt="English" style="width:100%">
                    <div class="caption">
                        <p>Quora is a question-and-answer site where questions are asked, answered, edited, and
                            organized by its community of users in the form of opinions. Its publisher, Quora Inc., is
                            based in Mountain View, California.
                        </p>
                        <hr>
                        <div class="syl"><a href="https://www.Byju's.com" style="color: green">Take a look on quora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="../../assets/img/google-earth.webp" alt="Student" style="width:100%">
                    <div class="caption">
                        <p>Google Earth is a computer program that renders a 3D representation of Earth based on
                            satellite imagery. The program maps the Earth by superimposing satellite images, aerial
                            photography, and GIS data onto a 3D globe, allowing users to see cities and landscapes from
                            various angles
                            <br>
                            <I>Begin an exciting new journey right here with Google Earth</I>
                            <br>
                        </p>
                        <hr>
                        <div class="syl"><a href="https://www.Byju's.com" style="color: green">Take a look on
                                googleearth</a></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>