<div class="bg">
    <h1 class="text-center" style="font-style:inherit;background-color:#005670;"><u>About us</u></h1>


    <div class="col-sm-6">
        <h3>
            <u>Our Mission</u>
        </h3>
        <h4>Mission of this Team to explore awareness about digital activity to you(rural people)
            and you can try to learn new things
            using this website and this website will help you to make you digitally fit.
            so mission to make your life easier with digital india program.</h4>
    </div>

    <div class="col-sm-6">
        <h3>
            <u>Our Team</u>
        </h3>
        <h5>Guided By: Prof.Sunil Gupta</h5>
        <h5>Poornima college of Engineeering</h5>
        <h5>Riico-6 sitapura institutional area jaipur 302022</h5>

    </div>


</div>